@import url(styles/cabecalho.css);
@import url(styles/banner.css);
@import url(styles/carrossel.css);
@import url(styles/topicos.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);
:root{
    /*CORES*/
    --cor-de-fundo: #EBECEE;
    --branco:#ffffff;
    --preto:#000000;
    --laranja:#EB9B00;
    --azul: #002F52;
    --cinza: #474646;
    --cinza-titulo:#858585;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    /*FONTES*/
    --fontes-principal: "Poppins";
    --fontes-secundaria: "Josefin Sans";

}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fontes-principal);
    font-size: 16px;
    font-weight: 400;
}
