.cabecalho {
  align-items: center;
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.container {
  align-items: center;
  display: flex;
}

.container__imagem {
  padding: 1em;
}

.cabecalho__menu-humburguer {
  background-image: url(../img/icones/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  height: 24px;
  width: 24px;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 70vw;
}

.container__botao {
  display: none;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-humburguer {
  background-image: url(../img/icones/Menu-Aberto.svg);
}

.container__botao:checked~.container__rotulo {
  background: var(--azul-degrade);
}


.container__botao:checked~.lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  background-color: var(--branco);
  padding: 1em;
}

.lista-menu__titulo {
  color: var(--laranja);
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-transform: uppercase;
}

.container__titulo {
  display: none;
}

.opcoes {
  display: none;
}

.container__texto {
  display: none;
}

@media screen and (min-width: 1024px) {

  .container__titulo,
  .container__titulo--negrito {
    font-family: var(--fonte-secundaria);
    font-size: 30px;
  }

  .container__titulo {
    display: block;
    font-weight: 400;
  }

  .container__titulo--negrito {
    font-weight: 700;
  }

  .opcoes {
    display: flex;
  }

  .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item {
    background: var(--azul-degrade);
    color: var(--branco);
  }

  .opcoes__item {
    padding: 2em 1em;
    text-transform: uppercase;
  }

  .opcoes__link {
    color: var(--preto);
    text-decoration: none;
  }

  .lista-menu__item:hover {
    background: var(--azul-degrade);
  }
  .lista-menu__item:hover > .lista-menu__link{
    -webkit-text-fill-color: var(--branco);
    text-decoration: none;
  }

  .container__imagem--transparente {
    display: none;
  }

  .cabecalho__menu-humburguer {
    display: none;
  }

  .opcoes__botao:checked~.lista-menu {
    display: block;
    width: auto;
  }

  .opcoes__botao {
    display: none;
  }
}

@media screen and (min-width: 1728px) {
  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--preto);
  }

  .container__texto {
    display: block;
  }

  .cabecalho {
    padding: 0 2em;
  }

  .opcoes {
    margin-right: auto;
  }
}